<div id="footer">
    <div id="inner-footer">
        <div class="logo-container-footer">
            <h1>BLUE<span>SKY</span></h1>
            <p>Powered by <a href="https://darksky.net/dev">Dark Sky</a></p>
        </div>

        <div class="contact">
            contact
        </div>

        <div class="nav-links">
            <ul class="footer-nav">
                <a href="/"><li>Home</li></a>
                <a href="/help"><li>Help</li></a>
                <a href="/about"><li>About us</li></a>
            </ul>
        </div>

        <div class="bottom-text">
            <p>Designed and developed by Pradyumn Singh &copy; 2019</p>
        </div>
    </div>
</div>