<div id="header">
    <div id="inner-header">
        <div class="logo-container">
            <h1>BLUE<span>SKY</span></h1>
        </div>
        
        <ul class="navigation">
            <a href="/"><li>Home</li></a>
            <a href="/help"><li>Help</li></a>
            <a href="/about"><li>About us</li></a>
        </ul>
    </div>
</div>