<!DOCTYPE html>
<html>
    <head>
        <!-- script and meta tags -->
        {{>include}}
    </head>

    <body>
        <!-- render header partial -->
        {{>header}}

        <div  id="container">
            <div id="main" class="center">
                <h1 class="error-msg">404</h1> 
                 <h3>{{message}}</h3>
            </div>
        </div>

        <!-- render footer partial -->
        {{>footer}}
    </body>
</html>