<!DOCTYPE html>
<html>
    <head>
        <!-- script and meta tags -->
        {{>include}}
    </head>

    <body>
         <!-- render header partial -->
        {{>header}}

        <div  id="container">
            <div id="main">
                 <h3>{{emotion}} to {{action}} :)</h3>
            </div>
        </div>

        <!-- render footer partial -->
        {{>footer}}
    </body>
</html>